<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/examples/cover/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Olá!</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Consulta performance ENADE 2018 </h1>
        <p class="lead">Desafio AppProva</p>
        <p class="lead">
          <a href="/instituicaos" class="btn btn-lg btn-primary" font color = "#ff0000" >Listar</a>
          <br><div class="inner">
          <h3 class="masthead-brand">Cadastrar</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/instituicaos">Instituicao</a>
            <a class="nav-link" href="/cursos">Curso</a>
            <a class="nav-link" href="/alunos">Aluno</a>
          </nav>
        </div>
        </p>
      </main>      
    </div>    
  </body>
</html>
